<div class="phx-hero">
  <%= for key <- @offers do %>
    <p><%= key.name <> " " <> gettext("costs") <> " " <> to_string(key.price) %></p>
  <% end %>
  <a href="<%= Routes.offers_path(@conn, :new) %>"><%= gettext "Create offer" %></a>
</div>