<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "Shara - Community Sharing" %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>

  <body>
    <header class="hero">
        <a href="<%= Routes.home_path(@conn, :index) %>" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/shara.png") %>" alt="Shara Logo"/>
        </a>
    </header>

	  <div class="tile is-ancestor">
	    <div class="tile is-vertical is-8">
	      <div class="tile">
	        <div class="tile is-parent is-vertical">
	          <article class="tile is-child notification is-primary">
	            <p class="title">Vertical...</p>
	            <p class="subtitle">Top tile</p>
	          </article>
	          <article class="tile is-child notification is-warning">
	            <p class="title">...tiles</p>
	            <p class="subtitle">Bottom tile</p>
	          </article>
	        </div>
	        <div class="tile is-parent">
	          <article class="tile is-child notification is-info">
	            <p class="title">Middle tile</p>
	            <p class="subtitle">With an image</p>
	            <figure class="image is-2by1">
	              <img src="images/its_working.gif" />
	            </figure>
	          </article>
	        </div>
	      </div>
	      <div class="tile is-parent">
	        <article class="tile is-child notification is-danger">
	          <p class="title">Wide tile</p>
	          <p class="subtitle">Aligned with the right tile</p>
	          <div class="content">
	            <!-- Content -->
	          </div>
	        </article>
	      </div>
	    </div>
	    <div class="tile is-parent">
	      <article class="tile is-child notification is-success">
	        <div class="content">
	          <p class="title">Tall tile</p>
	          <p class="subtitle">
	          <div id="vue_installed">
	            {{vue_test}}
	          </div>
	          </p>
	          <div class="content">
				      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
				      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
				      <%= render @view_module, @view_template, assigns %>
	          </div>
	        </div>
	      </article>
	    </div>
	  </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
